<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_RD4FjxsENLn65RMYsxiQyUmQKkAUWQI</string>
	<key>GCM_SENDER_ID</key>
	<string>459163731134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pawcamkz</string>
	<key>PROJECT_ID</key>
	<string>pawcam-64bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>pawcam-64bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459163731134:ios:64ca9662a068f7cf5f4aef</string>
</dict>
</plist>